.PlaySwitch {
  transition: background ease-in 0.1s;

  &.play {
    width: 65px;
    height: 90px;
    border-radius: 4px;

    &.switchOn {
      background: #fff;
      border: 1px solid #000;
    }

    &.switchOff {
      background: yellow;
      border: 1px solid #000;
    }

    &:hover {
      cursor: pointer;
      background: transparent;
    }
  }
}
